version: "3.8"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: jschs
      POSTGRES_PASSWORD: jschs
      POSTGRES_DB: jschsdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    ports:
      - "8080:8080"

volumes:
  pgdata: